<?xml version="1.0" encoding="utf-8"?>
<configuration>
<config>
<packageRestore>
<!-- Allow NuGet to download missing packages -->
<add key="enabled" value="True" />

<!-- Automatically check for missing packages during build in Visual Studio -->
<add key="automatic" value="True" />
</packageRestore>
<packageSources>
<add key="nuget" value="https://api.nuget.org/v3/index.json" />
<add key="MultiTracksCI" value="https://tegoaip.pkgs.visualstudio.com/_packaging/TegoSDK/nuget/v3/index.json" />
</packageSources>
<activePackageSource>
<add key="All" value="(Aggregate source)" />
</activePackageSource>	
<packageSourceCredentials>
<MultiTracksCI>
<add key="Username" value="hpatel@tegoinc.com" />
<add key="ClearTextPassword" value="password" />
</MultiTracksCI>
</packageSourceCredentials>	
</config>
</configuration>