<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGet" value="https://tegoaip.pkgs.visualstudio.com/_packaging/TegoSDK/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <MyGet>
      <add key="Username" value="hpatel@tegoinc.com" />
      <add key="ClearTextPassword" value="password" />
    </MyGet>
  </packageSourceCredentials>
</configuration>
